<div class="row">
	<aside class="col-md-4">
		<section class="info_usuario">
			<%= render "compartido/info_usuario" %>
		</section>
		<section clase="estadisticas">
			<%= render "compartido/estadisticas" %>
		</section>
		<section class="formulario_microentrada">
			<%= render "compartido/formulario_microentrada" %>
		</section>
	</aside>
	<div class="col-md-8">
		<h3>Mensajes publicados</h3>
		<%# debug @objetos_publicados %>
		<% if @objetos_publicados.empty? %>
			<h3>No hay publicaciones disponibles</h3>
		<% else %>
			<%= render "compartido/publicado" %>
		<% end %>
	</div>
</div>