<div class="row">
	<aside class="col-md-4">
		<section class="info_usuario">
			<%= render "compartido/info_usuario" %>
		</section>
		<section class="formulario_microentrada">
			<%= render "compartido/formulario_microentrada" %>
		</section>
	</aside>
	<div class="col-md-8">
		<h3>Mensajes publicados</h3>
		<%= render "compartido/publicado" %>
	</div>
</div>