<% provide(:titulo, "Ayuda") %>
<h1>Fijas#ayuda</h1>
<p>
	<%= link_to 'Inicio de path', fijas_inicio_path %><br>
	<%= link_to 'Inicio de url', fijas_inicio_url %><br>
	<%= link_to 'Inicio de barra', "/" %>
</p>
</body>
</html>