<%= link_to gravatarPara(usuario_actual, medida: 50), usuario_actual %>
<h1><%= usuario_actual.nombre %></h1>
<span><%= link_to "Ver mi perfil", usuario_actual %></span>
<span><%= pluralize(usuario_actual.microentradas.count, "microentradas") %></span>