<h1>Index</h1>

<p>
	<%= link_to 'Indice de Usuarios', '/usuarios' %><br>
	<%= link_to 'Indice de Usuarios en json', '/usuarios.json' %><br>
	<%= link_to 'Indice de Microentradas', '/microentradas' %>
</p>