<h1>Primera App</h1>

<p>
	Hola, <%= @usuario.nombre %>:<br>
	Bienvenid@ a la Primera App! Por favor, haz click en el siguiente enlace para activar tu cuenta:<br>
	<%= link_to "Activar", edit_activacion_cuenta_url(@usuario.token_activacion, email: @usuario.email) %>
</p>


