<h1>Restablecer contraseña en Primera App</h1>

<p>
  Pulsa en el enlace inferior para restablecer tu contraseña en Primera App:<br>
  <%= link_to "Restablecer contraseña", edit_reseteo_password_url(@usuario.token_reseteo, email: @usuario.email) %>
</p>

<p>
	Este enlace dejará de tener validez en dos horas.<br>
	Si no pediste restablecer tu contraseña, ignora este mensaje y la contraseña permanecerá como está.
</p>
