<div class="mensaje">
  <div class="mensaje_usuario">
    <%# mensaje.usuario.nombre %>
    <%= gravatarPara(mensaje.usuario) %>
  </div>
  <div class="mensaje_contenido">
    <%# mensaje.contenido %>
    <%= sanitize markdown_en_html(mensaje.contenido) %>
  </div>
</div>
