<% provide(:titulo, 'Registro') %>
<% provide(:texto_boton, 'Crear mi cuenta') %>
<h1>Registro de Usuario</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render "formulario" %>
	</div>
</div>