@import "bootstrap-sprockets";
@import "bootstrap";

/* General */

	body {
		padding-top: 60px;
	}

	section {
		overflow: auto;
	}

	textarea {
		resize: vertical;
	}

	.center {
		text-align: center;
	  h1 {
			margin-bottom: 10px;
		}
	}

	#imagenes {
		#logo_rails {
			float: left;
		}

		#gatito {
			width: 300px;
			float: right;
		}
	}

/* Variables Sass */
	
	$gris_medio: #eaeaea;
	$gris_oscuro: #777;

	@mixin medida_caja {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Tipografía */

	h1, h2, h3, h4, h5, h6 {
	  line-height: 1em;
	}

	h1 {
	  font-size: 3em;
	  letter-spacing: -2px;
	  margin-bottom: 30px;
	  text-align: center;
	}

	h2 {
	  font-size: 1.2em;
	  letter-spacing: -1px;
	  margin-bottom: 30px;
	  text-align: center;
	  font-weight: normal;
	  color: $gris_oscuro;
	}

	p {
	  font-size: 1.1em;
	  line-height: 1.7em;
	}


/* Cabecera */

	#logo {
	  float: left;
	  margin-right: 10px;
	  font-size: 1.7em;
	  color: #fff;
	  text-transform: uppercase;
	  letter-spacing: -1px;
	  padding-top: 9px;
	  font-weight: bold;
		&:hover {
		  color: #0ff;
		  text-decoration: none;
		}
	}

/* Pie de página */

	footer {
	  margin-top: 45px;
	  padding-top: 5px;
	  border-top: 1px solid $gris_medio;
	  color: $gris_oscuro;
	  a {
	  	color: #555;
			&:hover {
	  		color: #222;
			}
		}	
		small {
	  	float: left;
		}
		ul {
	  	float: right;
	  	list-style: none;
			li {
	  		float: left;
	  		margin-left: 15px;
			}
		}
	}

/* Zona lateral */

	aside {
	  section.info_usuario {
	    margin-top: 20px;
	  }
	  section {
	    padding: 10px 0;
	    margin-top: 20px;
	    &:first-child {
	      border: 0;
	      padding-top: 0;
	    }
	    span {
	      display: block;
	      margin-bottom: 3px;
	      line-height: 1;
	    }
	    h1 {
	      font-size: 1.4em;
	      text-align: left;
	      letter-spacing: -1px;
	      margin-bottom: 3px;
	      margin-top: 0px;
	    }
	  }
	}

	.gravatar {
	  float: left;
	  margin-right: 10px;
	}

	.gravatar_edit {
	  margin-top: 15px;
	}

/* formularios */

	input, textarea, select, .uneditable-input {
	  border: 1px solid #bbb;
	  width: 100%;
	  margin-bottom: 15px;
	  @include medida_caja;
	}

	input {
	  height: auto !important;
	}

	#explicacion_error {
	  color: red;
	  ul {
	    color: red;
	    margin: 0 0 30px 0;
	  }
	}

	.field_with_errors {
	  @extend .has-error;
	  .form-control {
	    color: $state-danger-text;
	  }
	}

	.checkbox {
	  margin-top: -10px;
	  margin-bottom: 10px;
	  span {
	    margin-left: 20px;
	    font-weight: normal;
	  }
	}

	#sesiones_recuerda_me {
	  width: auto;
	  margin-left: 0;
	}

/* Varios */

	.debug_dump {
		clear: both;
		float: left;
		width: 100%;
		margin-top: 45px;
		@include medida_caja;
	}