<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PrimeraApp", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio", root_path %></li>
        <li><%= link_to "Ayuda", sos_path %></li>
        <li><%= link_to "Acceder", '#' %></li>
      </ul>
    </nav>
  </div>
</header>