<footer>
	<small>
		Esta es la PrimeraApp.<br>
		Puedes ver más en <%= link_to 'el Panal', 'http://panal.esy.es' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to 'Acerca de nosotras', acerca_path %></li>
			<li><%= link_to 'Contacto', contacto_path %></li>
		</ul>
	</nav>
</footer>